@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-rethink: "Rethink Sans", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

.mxw {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

/* Add this to your existing src/app/globals.css */

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}